main {  /* === Основной контейнер === */
  display: flex;
  flex-direction: column;
  gap: 183px;  /* Большие отступы между основными секциями (cover, lots, about) */
}

.content-section {  /* Общий класс для всех секций с контентом */
  width: 100%;
  margin: 0 auto;
}

/* === HEADER ================================================================================= */

.header {  /* === ШАПКА === */
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
}

.header__links-list {  /* Контейнер для списка навигационных ссылок */
  display: flex;
  margin-left: 50px;
  gap: 32px;
}

.header__links-list-item {  /* Элемент списка навигации */
  list-style: circle;  /* Маркер в виде кружочка для каждого пункта меню */
}

.header__links-list-item_no-bullit {
  list-style: none;  /* Отключает стандартный маркер списка для первого пункта меню */
}

.header__link {  /* Ссылки */
  font-size: 18px;
  white-space: nowrap;
}

.header__link_active {
  text-decoration: none;  /* Убирает подчеркивание у активной ссылки */
}

.header__logo {  /* Логотип проекта в шапке */
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}

.header__logo-image {  /* Размер логотипа */
  width: 100%;
}



.address {  /* Адреса */
  font-style: inherit;
}

.header__address {  /* Адреса в шапке */
  padding-left: 184px;
  font-style: inherit;
}

.address__item {  /* Элементы адреса (телефон и email) */
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {  /* Физический адрес */
  font-size: 18px;
  line-height: 1.35;
}

/* === COVER ================================================================================= */

.cover {  /* === ОБЛОЖКА === */
  position: relative;
  padding: 0;  /* Сброс отступов */
  background-image: url(../images/cover.jpg);  /* Путь к фоновому изображению */
  background-repeat: no-repeat;  /* Запрещает повторение фонового изображения */
  background-size: cover;  /* Масштабирует изображение, чтобы оно покрывало весь блок */
  width: 1100px;
  height: 757px;
  margin: 0 ;  /* Сброс отступов */
}

.overlay {  /* Тонер */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;  /* Самый нижний z-index (будет под контентом) */
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579; /* Полупрозрачность 60% */
  background-color: #000000;   /* Черный цвет фона */
}

.cover__title {  /* Заголовок на обложке "Оно тебе надо" */
  position: relative;  /* Относительное позиционирование для управления z-index */
  z-index: 1;  /* Размещает заголовок выше overlay (z-index: 0) */
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: bold;  /* Жирное начертание шрифта */
  font-size: 100px;  /* Очень крупный размер шрифта 100px */
  line-height: 1.15;  /* Межстрочный интервал 1.15 (115% от размера шрифта) */
  letter-spacing: 30px;  /* Увеличенное расстояние между буквами (30px) */
  text-transform: uppercase;  /* Преобразует все буквы в заглавные */
  padding: 165px 50px 0 50px;  /* Отступы для блока с заголовком */
}

.aligned-text {  /* Блок с текстом заголовка(ОНО) */
  display: block;
  
}

.aligned-text_center {  /* Слово: ТЕБЕ */
  line-height: 1;  /* Нормализует межстрочный интервал до 1 (100%) */
  text-align: center;
}

.aligned-text_right {  /* Слово: НАДО */
  line-height: 1;  /* Нормализует межстрочный интервал до 1 (100%) */
  text-align: right;
}

.letter-spacing-extended {  /* Увеличение буквенного интервала */
  letter-spacing: 60px;
}

.remove-spacing {  /* Убирает отступ в конце слова, создаваемый letter-spacing всего элемента */
  letter-spacing: normal;  /* Возвращает нормальное (стандартное) межбуквенное расстояние */
}



.cover__description {  /* Контейнер для подзаголовка и кнопки */
  position: relative;  /* Относительное позиционирование для z-index */
  z-index: 1;  /* Размещает контент выше overlay */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 107px;  /* Отступ 78px между текстом и кнопкой */
  padding: 137px 50px 0 50px;  /* Отступ сверху 136px, остальные стороны без отступов */
}

.cover__description-text {  /* Подзаголовок" */
  color: #FFF;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}



.bet-button {  /* Кнопка "Сделать ставку" */
  border: 1px #FFF solid;  /* Белая рамка толщиной 1px */
  padding: 14px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;  /* Делает курсор в виде указателя при наведении на кнопку */
}

.bet-button:hover {  /* Эффект при наведении на кнопку */
  color: #000000;
  background-color: #FFF;  /* Фон становится белым (инверсия цветов) */
}

/* === LOTS ================================================================================= */

.lots {  /* === ЛОТЫ === */
  margin: 0 24px;  /* Боковые отступы 24px */
  width: 1052px;
  height: 723px;
}

.lots__heading {  /* Заголовок: Лоты */
  padding: 0 0 30px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0;  /* Сброс отступов */
}

.lots__card-list {  /* Список карточек лотов */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  justify-content: center;
  list-style: none;  /* Убирает стандартные маркеры списка */
  margin: 0;  /* Сброс отступов */
  padding: 0;  /* Сброс отступов */
  flex-wrap: wrap; /* При добавлении четвёртой карточки она будет перенесена на новую строку*/
}

.lots__card-list-item {  /* Содержание карточки */
  width: 334px;  /* Фиксированная ширина */
  height: 596px;  /* Фиксированная высота */
}

.card-link {  /* Карточка в ссылке */
  display: block;
  width: 100%;
  height: 100%;
}

.card {  /* Стилизация карточки */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 100%;
  padding: 0;  /* Сброс отступов */
}

.card_type_film {  /* Карточка с типом "Фильм" */
  background-image: url(../images/card-lot-01.jpg);  /* Фоновое изображение для карточки */
  background-repeat: no-repeat;  /* Запрещает повторение фонового изображения */
  background-size: cover;  /* Масштабирует изображение для покрытия всей карточки */
  background-position: center;  /* Центрирует фон */
}

.card_type_book {  /* Карточка с типом "Книга" */
  background-image: url(../images/card-lot-02.jpg);  /* Фоновое изображение для карточки */
  background-repeat: no-repeat;  /* Запрещает повторение фонового изображения */
  background-size: cover;  /* Масштабирует изображение для покрытия всей карточки */
  background-position: center;  /* Центрирует фон */
}

.card_type_picture {  /* Карточка с типом "Картина" */
  background-image: url(../images/card-lot-03.jpg);  /* Фоновое изображение для карточки */
  background-repeat: no-repeat;  /* Запрещает повторение фонового изображения */
  background-size: cover;  /* Масштабирует изображение для покрытия всей карточки */
  background-position: center;  /* Центрирует фон */
}

.card__title {  /* Заголовок на карточке */
  position: relative;  /* Относительное позиционирование для z-index */
  z-index: 1;  /* Размещает текст выше overlay */
  color: #FFF;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline #ffffff; /* Нижнее подчёрквиание + значение цвета */
  text-underline-position: under;
  text-transform: uppercase;
  padding: 48px 40px 0 40px;
  margin: 0;  /* Сброс отступов */
}

.card__text {  /* Содержание(текст) карточки */
  position: relative;  /* Относительное позиционирование для z-index */
  z-index: 1;  /* Размещает текст выше overlay */
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
  padding: 0 40px 48px 40px;
  margin: 0;
}

.lots__look-more-link {  /* Ссылка: посмотреть больше */
  display: block;
  margin: 30px 0 3px 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

/* === ABOUT ================================================================================= */

.about {  /* === ОБ АУКЦИОНЕ === */
  display: grid;  /*  */
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  width: 1052px;
  height: 592px;
  margin-top: -60px;
}

.about__column {  /* Общий класс для колонок в секции */
  position: relative; /* Для позиционирования логотипа */
}

.about__column_logo {  /* Колонка для логотипа */
  display: flex;
  justify-content: center;
  margin: 35px 0 0 47px;
}

.about__logo {  /* Чёрный круг для логотипа */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;  /* Занимает половину границы */
  background-color: #000000;
}

.about__logo-image {  /* Изображение логотипа внутри черного круга */
  width: 148px;  /* Фиксированная ширина логотипа 148px */
}

.about__column_text {  /* Класс для текстовой колонки справа */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about__title {  /* Заголовок: Об аукционе */
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 136px;
}

.about__text {  /* Контейнер для текста правой колонки */
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 24px;
}

.about__text p {  /* Стили для абзацев */
  font-size: 20px;  /* Размер шрифта 20px */
  line-height: normal;  /* Стандартный межстрочный интервал (браузерное значение) */
  margin: 0;  /* Сброс отступов */
  padding: 0;  /* Сброс отступов */
}

/* === FOOTER ================================================================================= */

.footer {  /* === ПОДВАЛ === */
  display: grid;
  grid-template-columns: 1fr 164px 290px;
  column-gap: 154px;
  margin: 180px 0 0 50px;
  width: 1050px;
  height: 180px;
}

.footer__menu-list {  /* Список меню в подвале */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;  /* Убирает стандартные маркеры списка */
  flex-wrap: nowrap;
}

.footer__menu-link {  /* Ссылки в меню подвала */
  display: block;
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
  align-items: center;
} 

.footer__menu-link_active {  /* Активная ссылка в меню подвала */
  text-decoration: none;  /* Убирает подчеркивание у активной ссылки */
}

.footer__social-list {  /* Список иконок социальных сетей */
  display: flex;
  gap: 48px;
  list-style: none;
  padding-right: 50px;
  justify-content: end;
}

.footer__social-icon {  /* Иконки социальных сетей */
  width: auto;
  height: 48px;  /* Фиксированная высота 48px для всех иконок */
  justify-content: end;
}